<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816132609530-uffi3e7952stvksvrdvl1jpg2mfomumf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816132609530-uffi3e7952stvksvrdvl1jpg2mfomumf</string>
	<key>API_KEY</key>
	<string>AIzaSyDWr2uEKyPymsp0J2p1DckYzpKo7cRshBo</string>
	<key>GCM_SENDER_ID</key>
	<string>816132609530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Food.OrderFood</string>
	<key>PROJECT_ID</key>
	<string>iosfood-7fbab</string>
	<key>STORAGE_BUCKET</key>
	<string>iosfood-7fbab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816132609530:ios:7d92f36650ee3b1f838043</string>
</dict>
</plist>